
table,th,td{
    border:1px solid;
    border-collapse: collapse;
}
h1{
    font-size: 1.5em;
}
body{
    display: flex;
    justify-content:space-around;
}

form{
    display:inline-flex;
    flex-direction: column;
    
}

label{
    padding-bottom: 10px;
}

select{
    margin-bottom: 10px;
}
input{
    margin-bottom: 10px;
}
    